<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movie Search App</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/fa/css/font-awesome.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="h-100 bg-info1">
    
    <h1 class="display-4 text-capitalize p-1 text-center text-white">find your favourite movies</h1>
    <div class="input-group input-group-lg w-75 mx-auto">
      <input type="text" name="search" id="searchmovies" class="form-control" placeholder="Movie Name..." aria-describedby="sizing-addon1">
      <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
    </div>

    <div class="container">
      <div class="row mt-4" id="output"></div>
    </div>







    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/popper.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
